@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --color-bg: #3d04fb;
    --color-text-main: #000000;
    --color-primary: #ffff00;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
  }
  
/* Apply the new font to the entire document */
body {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: large;
    background-image: url('https://wallpapercave.com/wp/wp9436943.jpg');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
  }

#center {
    margin-top: 20px; /* Add margin from the top */
    background-color: rgba(255, 255, 255, 0.328); /* Set a transparent white background */
    padding: 20px; /* Add some padding */
}

/* Enlarge the thumbnail image */
.image {
    max-width: auto; /* Set maximum width to 100% */
    height: auto; /* Maintain aspect ratio */
    padding: 20px;
    border-radius: 5px;
  }

/* Enlarge the thumbnail image */
#video {
    height: 100%;
    width: 100%; /* Set the width to 100% */
  }
  
/* Stack the articles */
.row {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: flex-start; /* Align items to the top vertically */
}

.col-2 {
    margin-top: 20px;
    width: auto; /* Allow the articles to adjust their width */
    border-radius: 10px;
} 
  
/* Move the image to the left */
article {
    width: 100%; /* Ensure full width */
    text-align: left; /* Align text content to the left */
    font-size: large;
    background-color: rgba(255, 255, 255, 0.508); /* Set a semi-transparent white background */
    padding: 20px; /* Add some padding */
    margin-bottom: 20px;
}

/*those text bugs*/
label {
    font-size: 1.2em; /* Adjust the font size as needed */
    margin-left: 20px;
}

/* Center the calendar input */
#dateInput {
    margin-top: 20px;
    margin-left: 20px;
    margin: 0 auto; /* Center the input */
    font-size: 1.2em;
    transition-duration: 0.4s;
}

.button {
    font-size: 1.2em;
    transition-duration: 0.4s;
    background-color: #3d04fb;
}
.button:hover {
    background-color: black;
    color: white;
  }
  
/* Style adjustments */
h1{
    margin-top: 20px; /* Add margin from the top */
    font-weight: normal; /* Adjust font weight if needed */
    font-size: 2.5em;
    background-color: rgba(255, 255, 255, 0.508); /* Set a semi-transparent white background */
    background-size: contain;
    border-radius: 10px;
}
h2 {
    margin-top: 20px; /* Add margin from the top */
    font-weight: normal; /* Adjust font weight if needed */
    font-size: 2.0em;
    background-color: rgba(255, 255, 255, 0.508); /* Set a semi-transparent white background */
    background-size: contain;
    border-radius: 10px;

}

h3{
    margin-top: 20px; /* Add margin from the top */
    font-weight: normal; /* Adjust font weight if needed */
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.6em;
    background-color: rgba(255, 255, 255, 0.508); /* Set a semi-transparent white background */
    background-size: contain;
    border-radius: 10px;

}